body {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.wheel {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
}

.wheel-section {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffcc00;
    transform-origin: 100% 50%;
    transition: all ease 5s;
}

.rotatewheel {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #1361f2;
    background-color: #fff;
    color: #1361f2;
    font-weight: bold;
    cursor: pointer;
    transition:all ease 0.5s;
    font-size: 15px;
}

.rotatewheel:active {
    transition: scale(2.5);
    width: 90px;
    height: 50px;
    font-size: 20px;
    background-color: green;
}
